        <h1>Welcome to Seth Weidman's Website</h1>

        <img src="https://sethhweidman-personal-website.s3.amazonaws.com/profile-picture.jpg" alt="Seth Weidman">

        <br><br>
        <a href="https://www.linkedin.com/in/sethhweidman/" target="_blank">LinkedIn</a> | 
        <a href="https://github.com/SethHWeidman" target="_blank">GitHub</a> (and <a href="https://github.com/SethHWeidman/personal-website/tree/master" target="_blank">code for this website</a>)

        <h2>Blog Posts</h2>
        <ul>
          <li><a href="/blog/affirmations">Character Strengths Affirmations Practice</a></li>
          <li><a href="/blog/o1-tools">O1 Pro - An Initial Assessment</a></li>
        </ul>

        <h2>Recent Talks</h2>
        <ul>
          <li>
            <a href="/odsc_east_2025_grpo_llama">
              Basic Theory and Practice of Fine-Tuning 
        LLMs with PPO and GRPO
            </a>
            (May 2025)
          </li>
        </ul>


        <h2>Bio</h2>
        <p>
          Since December 2019, I've worked at <a href="https://www.sentilink.com" target="_blank">SentiLink</a>, growing from a Data Scientist (where around half my job was machine learning engineering) to now a Principal Product Manager reporting to a co-founder and the Head of Product Maxwell Blumenfeld, building multiple products from 0 to 1 along the way.
        </p>
        
        <p>
          In September 2019, O'Reilly published an introductory book I wrote covering the mechanics of Deep Learning models: <a href="https://www.amazon.com/Deep-Learning-Scratch-Building-Principles/dp/1492041416" target="_blank">Deep Learning From Scratch</a>.
        </p>

        <p>
          Prior to SentiLink, <a href="https://www.youtube.com/watch?v=cVecfn8f3BU" target="_blank">spoke at Data Science conferences</a> regularly. Going even further back, I graduated from the University of Chicago with a double major in Mathematics and Economics in 2012, and am originally from Pittsburgh, PA.
        </p>

        <br>
        <a href="/visitor-log">Sign the Visitor Log</a>
