<h1>Welcome to Seth Weidman's Website</h1>

<p>
  I'm a passionate builder and problem solver with deep product management experience,
  currently returning to my AI roots and learning everything I can about what's happening
  technically in the field.
</p>

<img
  src="https://sethhweidman-personal-website.s3.amazonaws.com/profile-picture.jpg"
  alt="Seth Weidman"
/>

<p class="hero-caption">
  Backpacking in Grand Staircase Escalante National Monument, May 2021
</p>

<br />
<a href="https://www.linkedin.com/in/sethhweidman/" target="_blank">LinkedIn</a> |
<a href="https://x.com/SethHWeidman" target="_blank">X</a> |
<a href="https://github.com/SethHWeidman" target="_blank">GitHub</a> |

<h2>Recent Blog Posts</h2>

<ul>
  <li>
    <a href="/blog/flash_attention_1.html"
      >How Tiling and Streaming Softmax Enable this GPU Kernel</a
    >
  </li>
  <li>
    <a href="/blog/multihead_attention.html">Attention, Single and Multi-Head</a>
  </li>
  <li>
    <a href="/blog/streaming_softmax.html">Streaming Softmax and Softmax-Dot</a>
  </li>
  <li>
    <a href="/blog/cuda_matmul.html"
      >Tiling Matrix Multiplication on the GPU: Using CUDA and Shared Memory</a
    >
  </li>
</ul>

<h2>Professional Bio</h2>

<h3>SentiLink</h3>

<p>
  I worked at <a href="https://www.sentilink.com" target="_blank">SentiLink</a>, for
  almost six years, from December 2019, when the company was about two-and-a-half years
  old, to November 2025. The company 100xed in ARR and grew from 15 employees to about
  150. Roughly, my role breakdown was:
</p>

<ul>
  <li>
    A full stack data scientist, including a lot of machine learning engineering, for the
    first two years, reporting to the head of Data Science (I was the first hire on the
    team).
  </li>
  <li>
    A hybrid data scientist/product manager for the next three years, reporting to one of
    the co-founders, Maxwell Blumenfeld. Here I launched the two most successful
    TAM-expanding products at SentiLink, the second one of which I architected from the
    ground up. Blog post coming on this soon!
  </li>
  <li>A product manager reporting to the CEO, Naftali Harris, for the last year.</li>
</ul>

<p>
  It was an incredibly unique experience to be part of a venture-backed company - I
  joined about one-third of the way between the a16z-led Series A and the Craft
  Ventures-led Series B - and do work that was so central that I got to work with and
  directly observe every function of the company. An incredible learning experience: I
  became a much better engineer / builder while getting a "startup MBA" x10!
</p>

<h3>Conference Speaking</h3>

<p>
  During my last year at SentiLink, I got back into speaking at Data Science conferences,
  breaking down the trickiest concepts at the bleeding edge of AI into understandable
  chunks.
</p>

<ul>
  <li>
    In May 2025, I spoke at ODSC East in Boston on PPO, GRPO, and how to fine-tune an 8B
    parameter Llama model to do better at answering math questions. See the official talk
    page
    <a
      href="https://staging6.odsc.com/speakers/basic-theory-and-practice-of-fine-tuning-llms-with-ppo-and-grpo/"
      target="_blank"
      rel="noreferrer"
      >here</a
    >.
  </li>
  <li>
    In October 2025, I spoke at ODSC West in Burlingame. The unofficial title of my talk
    was "Coding Agents are Just <span class="code-inline">while</span> Loops". View the
    talk details
    <a
      href="https://odsc.ai/speakers-portfolio/under-the-hood-of-coding-agents/"
      target="_blank"
      rel="noreferrer"
      >here</a
    >.
  </li>
</ul>

<p>
  Prior to SentiLink, I also
  <a href="https://www.youtube.com/watch?v=cVecfn8f3BU" target="_blank"
    >spoke at Data Science conferences</a
  >
  regularly.
</p>

Demystifying technical concepts is a passion of mine!

<h3>Data Science Author</h3>

<p>
  In September 2019, O'Reilly published an introductory book I wrote covering the
  mechanics of Deep Learning models:
  <a
    href="https://www.amazon.com/Deep-Learning-Scratch-Building-Principles/dp/1492041416"
    target="_blank"
    >Deep Learning From Scratch</a
  >.
</p>

<h3>Personal</h3>

<ul>
  <li>
    In July 2025, after about seven years of living in the Bay Area, I moved to Holladay,
    Utah.
  </li>
  <li>
    I like doing big long hikes with a lot of elevation gain and loss. In May 2025, I
    climbed Mt. Shasta in one push from the Bunny Flat trailhead to the summit and back,
    which is 7,200 feet of elevation gain / loss and 7.2 miles each way. It took 12 hours
    and 50 minutes: I began at 11:30 PM and returned at 12:20 PM the next day. I hope to
    improve upon this time in the future.
  </li>
  <li>
    I graduated from the University of Chicago with a double major in Mathematics and
    Economics in 2012.
  </li>
  <li>I'm originally from Pittsburgh, PA.</li>
  <li>I taught myself to juggle around age nine and can still juggle to this day.</li>
</ul>

<h3>Old Blog Posts</h3>
<ul>
  <li>
    <a href="/blog/affirmations">Character Strengths Affirmations Practice</a>
  </li>
  <li><a href="/blog/o1-tools">O1 Pro - An Initial Assessment</a></li>
</ul>

<br />
<a href="/visitor-log">Sign the Visitor Log</a>
